<div>
    <div *ngFor="let c of chats">
        <div>
            <p><strong>{{c.name}}</strong>: {{c.message}}</p>
        </div>
    </div>
</div>
<div style="color: blue; text-align: center">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
</div>
<div class="container" style="width: 400px; margin-top: 20px;">
    <form class="form-inline" style="margin-top: 20px;">
        <div class="form-group">
            <input placeholder="nhập tin nhắn..." type="text" name="name" class="form-control" [(ngModel)]="message"
                   (keyup)="$event.keyCode ===13 && sendName()"/>
        </div>
        <button id="send" class="btn btn-default" type="button" (click)="sendName()">Send</button>
    </form>

    <table id="conversation" class="table table-striped" style="margin-top: 20px;">
        <thead>
        <tr>
            <th>Loading</th>
        </tr>
        </thead>
        <tbody *ngFor="let greeting of greetings">
        <tr>
            <td>{{greeting}}</td>
        </tr>
        </tbody>
    </table>

</div>
