.column {
  float: left;
  width: 33.3%;
  padding: 10px 10px;
}
.card {
  box-shadow: 12px 12px 2px 1px rgb(192, 204, 202);
  text-align: center;
  background-color: #2b3636;
}
div.card {
  padding: 10px;
}
.img {
  width: auto;
  height: 200px;
  border-radius: 8%;
}
